{% extends 'portfolio/layout.html' %} {% block main %}
<div class="spacecontactos">
  <h2 class="centerTitles">Contactos</h2>
  <div class="paddingcontactos">
      <div class="contactos">
          <div>
              <a href="https://www.linkedin.com/in/martim-teixeira/" target="_blank"
              ><i class="fa-brands fa-linkedin button1"></i
              ></a>
              <p>Linkedin</p>
          </div>
          <div class="spacebetweencontactos">
              <a href="https://www.instagram.com/mteixeira_3/" target="_blank"
              ><i class="fa-brands fa-instagram button1"></i
              ></a>
              <p>Instagram</p>
          </div>
          <div>
              <a href="https://github.com/Martimlt" target="_blank"
              ><i class="fa-brands fa-github button1"></i
              ></a>
              <p>Github</p>
          </div>
      </div>
      <div class="hobbies">
          <div>
              <i class="fa-solid fa-envelope"></i>
              <p>mlteixeira2002@gmail.com</p>
          </div>
      </div>
  </div>
</div>

{% endblock %}