{% extends 'portfolio/layout.html' %} {% block main %}
<a
  class="fa-solid fa-arrow-left seta"
  href="{% url 'portfolio:apresentacao' %}"
></a>
<div class="centerTitlescurso">
  <h2>Informática de gestão</h2>
    <a href="https://www.ulusofona.pt/licenciaturas/informatica-de-gestao" target="_blank"
    ><button class="btn">Página Licenciatura</button></a>
    <p class="paddingInitialTextCurso">A licenciatura de Informática de Gestão procura colmatar uma
        necessidade cada vez maior nas organizações de aproximar as
        áreas de negócio (Marketing, Vendas, Operações, etc.) com uma
        das áreas principais de suporte estratégico, os Sistemas de
        Informação. As linguagens destas áreas são diferentes, pelo que
        apenas colaboradores capazes de entender a forma como as empresas
        se estruturam e posicionam nos seus mercados, associado a
        conhecimentos tecnológicos, poderão potenciar um perfeito
        alinhamento Tecnologia-Negócio. Este é o foco de quem realiza
        a licenciatura de Informática de Gestão.</p>
    {% if user.is_authenticated %}
    <a href="{% url 'portfolio:formcadeiras' %}"><button class="btn">Adicionar Cadeira</button></a>
        <a href="{% url 'portfolio:formpessoa' %}"><button class="btn">Adicionar Pessoa</button></a>
    {% endif %}
</div>
<h3 class="paddingcurso">1º ano</h3>
<div class="containerCurso">
  {% for cadeira in cadeiras %} {% if cadeira.ano == 1 %}
  <div>
    <b>{{ cadeira.nome }} <a href={{ cadeira.linklusofona }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></b>
    <p>{{ cadeira.descricao }}</p>
    <p>{{ cadeira.semestre }}º semestre</p>
    <p>Ects: {{ cadeira.ects }}</p>
    <p>Professor: {{ cadeira.professor.primeiroNome }} {{ cadeira.professor.ultimoNome }} <a href={{ cadeira.professor.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ cadeira.professor.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% if not cadeira.professor.linkedin == cadeira.professorAuxiliar.linkedin %}
    <p>Professor Auxiliar: {{ cadeira.professorAuxiliar.primeiroNome }} {{ cadeira.professorAuxiliar.ultimoNome }} <a href={{ cadeira.professorAuxiliar.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ cadeira.professorAuxiliar.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% endif %}
    {% for x in range %}
        {% if x <= cadeira.ranking %}
            <span class="fa fa-star checked"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
    {% endfor %}
      {% if request.user.is_authenticated %}
          <br>
          <a href="{% url 'portfolio:editarCadeira' cadeira.id %}"><button class="btn">Editar</button></a>
      {% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>
<h3 class="paddingcursotext">2º ano</h3>
<div class="containerCurso">
  {% for cadeira in cadeiras %} {% if cadeira.ano == 2 %}
  <div>
    <b>{{ cadeira.nome }} <a href={{ cadeira.linklusofona }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></b>
    <p>{{ cadeira.descricao }}</p>
    <p>{{ cadeira.semestre }}º semestre</p>
    <p>Ects: {{ cadeira.ects }}</p>
    <p>Professor: {{ cadeira.professor.primeiroNome }} {{ cadeira.professor.ultimoNome }} <a href={{ cadeira.professor.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ cadeira.professor.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% if not cadeira.professor.linkedin == cadeira.professorAuxiliar.linkedin %}
    <p>Professor Auxiliar: {{ cadeira.professorAuxiliar.primeiroNome }} {{ cadeira.professorAuxiliar.ultimoNome }} <a href={{ cadeira.professorAuxiliar.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ cadeira.professorAuxiliar.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% endif %}
    {% for x in range %}
        {% if x <= cadeira.ranking %}
            <span class="fa fa-star checked"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
    {% endfor %}
  </div>
  {% endif %} {% endfor %}
</div>
<h3 class="paddingcursotext">3º ano</h3>
<div class="containerCurso">
  {% for cadeira in cadeiras %} {% if cadeira.ano == 3 %}
  <div>
    <b>{{ cadeira.nome }} <a href={{ cadeira.linklusofona }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></b>
    <p>{{ cadeira.descricao }}</p>
    <p>{{ cadeira.semestre }}º semestre</p>
    <p>Ects: {{ cadeira.ects }}</p>
    <p>Professor: {{ cadeira.professor.primeiroNome }} {{ cadeira.professor.ultimoNome }} <a href={{ cadeira.professor.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ cadeira.professor.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% if not cadeira.professor.linkedin == cadeira.professorAuxiliar.linkedin %}
    <p>Professor Auxiliar: {{ cadeira.professorAuxiliar.primeiroNome }} {{ cadeira.professorAuxiliar.ultimoNome }} <a href={{ cadeira.professorAuxiliar.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ cadeira.professorAuxiliar.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% endif %}
    {% for x in range %}
        {% if x <= cadeira.ranking %}
            <span class="fa fa-star checked"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
    {% endfor %}
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
