{% extends 'portfolio/layout.html' %} {% block main %}
<a
  class="fa-solid fa-arrow-left seta"
  href="{% url 'portfolio:apresentacao' %}"
></a>
<div class="centerTitlescurso">
  <h2>Informática de gestão</h2>
  <h2>Ano Atual: 2º ano</h2>
</div>
<h3 class="paddingcurso">1º ano</h3>
<div class="container">
  {% for cadeira in cadeiras %} {% if cadeira.ano == 1 %}
  <div>
    <b>{{ cadeira.nome }} <a href={{ cadeira.linklusofona }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></b>
    <p>{{ cadeira.descricao }}</p>
    <p>{{ cadeira.semestre }}º semestre</p>
    <p>Ects: {{ cadeira.ects }}</p>
    <p>Professor: {{ cadeira.professor.primeiroNome }} {{ cadeira.professor.ultimoNome }} <a href={{ cadeira.professor.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ cadeira.professor.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% if not cadeira.professor.linkedin == cadeira.professorAuxiliar.linkedin %}
    <p>Professor: {{ cadeira.professorAuxiliar.primeiroNome }} {{ cadeira.professorAuxiliar.ultimoNome }} <a href={{ cadeira.professorAuxiliar.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ cadeira.professorAuxiliar.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% endif %}
    {% for x in range %}
        {% if x <= cadeira.ranking %}
            <span class="fa fa-star checked"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
    {% endfor %}
  </div>
  {% endif %} {% endfor %}
</div>
<h3 class="paddingcursotext">2º ano</h3>
<div class="container">
  {% for cadeira in cadeiras %} {% if cadeira.ano == 2 %}
  <div>
    <b>{{ cadeira.nome }} <a href={{ cadeira.linklusofona }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></b>
    <p>{{ cadeira.descricao }}</p>
    <p>{{ cadeira.semestre }}º semestre</p>
    <p>Ects: {{ cadeira.ects }}</p>
    <p>Professor: {{ cadeira.professor.primeiroNome }} {{ cadeira.professor.ultimoNome }} <a href={{ cadeira.professor.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ cadeira.professor.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% if not cadeira.professor.linkedin == cadeira.professorAuxiliar.linkedin %}
    <p>Professor: {{ cadeira.professorAuxiliar.primeiroNome }} {{ cadeira.professorAuxiliar.ultimoNome }} <a href={{ cadeira.professorAuxiliar.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ cadeira.professorAuxiliar.outroLink }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a></p>
    {% endif %}
    {% for x in range %}
        {% if x <= cadeira.ranking %}
            <span class="fa fa-star checked"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
    {% endfor %}
  </div>
  {% endif %} {% endfor %}
</div>
<h3 class="paddingcursotext">3º ano</h3>
<div class="container">
  {% for cadeira in cadeiras %} {% if cadeira.ano == 3 %}
  <div>
    <b>{{ cadeira.nome }}</b>
    <p>{{ cadeira.descricao }}</p>
    <p>{{ cadeira.semestre }}º semestre</p>
    <p>Ects: {{ cadeira.ects }}</p>
    <p>Professor: {{ cadeira.professor.first }}</p>
    {% if not cadeira.professor.first == cadeira %}
    <p>Professor auxiliar: {{ cadeira }}</p>
    {% endif %}
    {% for x in range %}
        {% if x <= cadeira.ranking %}
            <span class="fa fa-star checked"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
    {% endfor %}
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
