{% extends 'portfolio/layout.html' %} {% block main %}
<a
  class="fa-solid fa-arrow-left seta"
  href="{% url 'portfolio:apresentacao' %}"
></a>
<div class="centerTitlescurso">
  <h2>Informática de gestão</h2>
  <h2>Ano Atual: 2º ano</h2>
</div>
<h3 class="paddingcurso">1º ano</h3>
<div class="container">
  {% for cadeira in cadeiras %} {% if cadeira.ano == 1 %}
  <div>
    <b>{{ cadeira.nome }}</b>
    <p>{{ cadeira.descricao }}</p>
    <p>{{ cadeira.semestre }}º semestre</p>
    <p>Ects: {{ cadeira.ects }}</p>
    <p>Professor: {{ cadeira.professor.first }}</p>
    {% if not cadeira.professor.first == cadeira.professorAuxiliar.first %}
    <p>Professor auxiliar: {{ cadeira.professorAuxiliar.first }}</p>
    {% endif %}
    {% if cadeira.ranking == 1 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 2 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 3 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 4 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 5 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    {% endif %}
  </div>
  {% endif %} {% endfor %}
</div>
<h3 class="paddingcursotext">2º ano</h3>
<div class="container">
  {% for cadeira in cadeiras %} {% if cadeira.ano == 2 %}
  <div>
    <b>{{ cadeira.nome }}</b>
    <p>{{ cadeira.descricao }}</p>
    <p>{{ cadeira.semestre }}º semestre</p>
    <p>Ects: {{ cadeira.ects }}</p>
    <p>Professor: {{ cadeira.professor.first }}</p>
    {% if not cadeira.professor.first == cadeira.professorAuxiliar.first %}
    <p>Professor auxiliar: {{ cadeira.professorAuxiliar.first }}</p>
    {% endif %}
    {% if cadeira.ranking == 1 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 2 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 3 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 4 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 5 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    {% endif %}
  </div>
  {% endif %} {% endfor %}
</div>
<h3 class="paddingcursotext">3º ano</h3>
<div class="container">
  {% for cadeira in cadeiras %} {% if cadeira.ano == 3 %}
  <div>
    <b>{{ cadeira.nome }}</b>
    <p>{{ cadeira.descricao }}</p>
    <p>{{ cadeira.semestre }}º semestre</p>
    <p>Ects: {{ cadeira.ects }}</p>
    <p>Professor: {{ cadeira.professor.first }}</p>
    {% if not cadeira.professor.first == cadeira.professorAuxiliar.first %}
    <p>Professor auxiliar: {{ cadeira.professorAuxiliar.first }}</p>
    {% endif %}
    {% if cadeira.ranking == 1 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 2 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 3 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 4 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    {% elif cadeira.ranking == 5 %}
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    {% endif %}
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
