{% extends 'portfolio/layout.html' %} {% block main %}
<section class="heroImage">
  <div>
    {% if user.is_authenticated %}
    <p>Bem vindo <b>{{ user.username }}</b></p>
    {% else %} {% endif %}
    <h2><span>Martim Teixeira.</span> Um estudante a preparar o seu futuro</h2>
    <div>
      {% load static %}
      <a
        href="{% static 'portfolio/images/CV - Martim Teixeira.pdf' %}"
        download
        ><button class="btn">Download CV</button></a
      >
    </div>
    <div class="iconsHome">
      {% load static %}
      <a href="https://www.linkedin.com/in/martim-teixeira/" target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a>
      <a href="https://www.instagram.com/mteixeira_3/" target="_blank"
        ><i class="fa-brands fa-instagram button1"></i
      ></a>
      <a href="https://github.com/Martimlt" target="_blank"
        ><i class="fa-brands fa-github button1"></i
      ></a>
    </div>
  </div>
</section>
<section class="paddingHome">
  <article>
    <h2 class="centerTitles">Porquê Informática de Gestão?</h2>
    <p class="textDown">
      Na minha opinião, este curso integra duas partes essenciais das empresas,
      as tecnologias e a gestão. Já queria seguir a área da gestão e quando
      descobri este curso que junta as duas partes decidi que era o mais
      indicado para mim.
    </p>
  </article>
  <article>
    <h2 class="centerTitles">O que mais tenho gostado no curso?</h2>
    <p class="textDown">
      Este curso deu me a possibilidade de aprender a utilizar diversas
      tecnologias e a ser capaz de procurar soluções através de vários meios,
      tendo ganho assim uma maior capacidade para resolver problemas.
    </p>
  </article>
  <article>
    <h2 class="centerTitles">O que pretendo fazer quando acabar o curso?</h2>
    <p class="textDown">
      Quando terminar o curso pretendo tirar um mestrado fora de Portugal
      relacionado com análise de dados, para mais tarde vir a trabalhar nessa
      área. Considero que estudar fora é algo importante e vantajoso para
      podermos alargar os nossos horizontes.
    </p>
  </article>
</section>

{% endblock %}
