<!DOCTYPE html>
{% load static %}
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Martim Teixeira" />
      <link
      rel="portugal icon"
      type="images/Portugal.ico"
      href="/portfolio/static/portfolio/images/Portugal.ico"
    />
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}" />
    <script src="{% static 'portfolio/javascript/scrpt.js' %}" ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Portfolio</title>
  </head>
  <body>
    <header>
        <a href="{% url 'portfolio:home' %}" class="logolayout"
          ><img src="{% static 'portfolio/images/Logo.png' %}"
        /></a>
      <div class="topnav" id="myTopnav">
          <a href="{% url 'portfolio:home' %}">Home</a>
          <a href="{% url 'portfolio:apresentacao' %}">Sobre mim</a>
          <a href="{% url 'portfolio:projetos' %}">Projetos</a>
          <a href="{% url 'portfolio:programacaoWeb' %}">Programação Web</a>
          <a href="{% url 'portfolio:elogios' %}">Livro Elogios</a>
          <a href="{% url 'portfolio:contacto' %}">Contacto</a>
          {% if user.is_authenticated %}
              <a href="{% url 'portfolio:logout' %}" class="btnlogout">Logout</a>
          {% else %}
              <a href="{% url 'portfolio:login' %}">Login</a>
          {% endif %}
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
      </div>
    </header>
    <main>{% block main %} {% endblock main %}</main>
    <footer>
        <div>ULHT 2022</div>
        <p>Contacto: +351 931 XXX XXX</p>
        <p>Email: mlteixeira2002@gmail.com</p>
    </footer>
  </body>
</html>
