{% extends 'portfolio/layout.html' %} {% block main %}
<div class="pageLogin">
  <a class="fa-solid fa-arrow-left seta" href="{% url 'portfolio:home' %}"></a>
  <h2 class="title-form-center">Entre com as suas credenciais</h2>
  <div class="loginArea">
    <form method="POST" action="{% url 'portfolio:login' %}">
      {% csrf_token %}
      <input
        type="text"
        name="username"
        placeholder="Username"
        class="breakLineLogin"
      /><br />
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="breakLineLogin"
      /><br />
      <input type="submit" value="Submeter" class="btn" />
    </form>
  </div>
</div>

{% endblock %}
