{% extends 'portfolio/layout.html' %} {% block main %}
    {% load static %}
<div class="paddingFormPw">
  <h2 class="centerTitles">Programação Web</h2>
  <h3 class="centerTitles">Tecnologias Existentes</h3>
  <div class="paddingTecnologias">
    <h4>Front-End</h4>
    <p>
      O programador responsável pelo front-end é quem “dá vida” à interface
      gráfica entre o utilizador e o website, para que os utilizadores possam
      ver e interagir com o website. Exemplos:
    </p>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
  </div>
  <div class="paddingTecnologias">
    <h4>Back-End</h4>
    <p>
      Como o nome sugere, o desenvolvedor back-end trabalha na parte de “trás”
      da aplicação. É o responsável, em termos gerais, pela implementação das
      regras de negócio e não toca na parte visual da aplicação. Exemplos:
    </p>
    <ul>
      <li>Java</li>
      <li>Python</li>
      <li>C#</li>
    </ul>
  </div>
    <h3 class="centerTitles">Sobre este Website</h3>
    <div class="paddingTecnologias">
        <h4>Estrutura</h4>
        <p>As tecnologias de front-end utilizadas neste website são HTML5 e CSS</p>
    </div>
    <div class="paddingTecnologias">
        <h4>Diagrama DER</h4>
        <p>As tecnologias de front-end utilizadas neste website são HTML5 e CSS</p>
    </div>
    <div class="paddingTecnologias">
        <h4>Front-End</h4>
        <p>As tecnologias de front-end utilizadas neste website são HTML5 e CSS</p>
    </div>
    <div class="paddingTecnologias">
        <h4>Back-End</h4>
        <p>A tecnologia de back-end utilizada foi o python</p>
    </div>
    <div class="paddingTecnologias">
        <h4>Framework</h4>
        <p>A framework utilizada para desenvolver este website foi o Django</p>
    </div>
  <h3 class="centerTitles">Laboratórios</h3>
    <div class="centextpw">
        <p>Aqui podes encontrar a página que contem todos os laboratórios relizados ao longo do semestre</p>
        <div class="btnElogio">
            <a href="https://a22006053-labs.herokuapp.com/" target="_blank"
            ><button class="btn">Laboratórios</button></a
            >
        </div>
    </div>
    <h3 class="centerTitles">Notícias</h3>
    <div class="containerNoticias">
        {% for noticia in noticias %}
            <div>
                <b><a href={{ noticia.urlnoticia }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a> {{ noticia.titulo }} </b>
                <p>{{ noticia.corpo }}</p>
                <p>Autor: {{ noticia.autor }}</p>
                <p>Data Publicação: {{ noticia.data }}</p>
            </div>
        {% endfor %}
    </div>
    <h3 class="centerTitles">Quizz</h3>
    <p class="centextpw">
        Aqui podes responder a um simples quizz sobre Programação Web!
    </p>
    <div class="btnElogio">
        <a href="{% url 'portfolio:quizz' %}"
        ><button class="btn">Responder ao Quizz</button></a
        >
    </div>
    <h3 class="centextpw paddingTecnologias">
        Resultados Quizz
    </h3>
    <div class="centextpw">
        <img src="{% static 'portfolio/images/resultado.png' %}" class="imgpw"/>
    </div>
</div>
{% endblock %}
