{% extends 'portfolio/layout.html' %}
{% load cloudinary %}
{% block main %}
    {% load static %}
<div class="paddingFormPw">
    <h2 class="centerTitles">Tecnologias Existentes</h2>
    <p class="pwclass">Ao clicar no link em baixo, irá ser redirecionado para uma página onde poderá encontrar algumas informações sobre tecnologias utilizadas para desenvolver websites.</p>
    <p class="pwlink"><a href="{% url 'portfolio:tecnologias' %}" class="link">Clique aqui</a></p>
    <h3 class="centerTitles">Sobre este Website</h3>
    <div class="paddingTecnologias">
        <h4>Estrutura</h4>
        <img src="{% static 'portfolio/images/Estrutura.png' %}" class="centerimgpw"/>
    </div>
    <div class="paddingTecnologias">
        <h4>Front-End</h4>
        <p>As tecnologias de front-end utilizadas neste website são <abbr style="text-decoration: none" title="Hyper Text Markup Language">HTML5</abbr> e <abbr style="text-decoration: none" title="Cascading Style Sheets">CSS</abbr>.</p>
    </div>
    <div class="paddingTecnologias">
        <h4>Back-End</h4>
        <p>A tecnologia de back-end utilizada foi o Python.</p>
    </div>
    <div class="paddingTecnologias">
        <h4>Framework</h4>
        <p>A framework utilizada para desenvolver este website foi o Django</p>
    </div>
  <h3 class="centerTitles">Laboratórios</h3>
    <div class="centextpw">
        <p>Aqui podes encontrar a página que contem todos os laboratórios relizados ao longo do semestre</p>
        <div class="btnElogio">
            <a href="https://a22006053-labs.herokuapp.com/" target="_blank"
            ><button class="btn">Laboratórios</button></a
            >
        </div>
    </div>
    <h3 class="centerTitles">Notícias</h3>
    <div class="containerNoticias">
        {% for noticia in noticias %}
            <div>
                <b><a href={{ noticia.urlnoticia }} target="_blank"
        ><i class="fa-solid fa-link button1"></i></a> {{ noticia.titulo }} </b>
                <p>{{ noticia.corpo }}</p>
                <p><b>Autor:</b> {{ noticia.autor }}</p>
                <p><b>Data Publicação:</b> {{ noticia.data }}</p>
            </div>
        {% endfor %}
    </div>
    <h3 class="centerTitles">Quizz</h3>
    <p class="centextpw">
        Aqui podes responder a um simples quizz sobre Programação Web!
    </p>
    <div class="btnElogio">
        <a href="{% url 'portfolio:quizz' %}"
        ><button class="btn">Responder ao Quizz</button></a
        >
    </div>
    <h3 class="centextpw paddingTecnologias">
        Resultados Quizz
    </h3>
    <div class="centextpw">
       {% cloudinary 'portfolio/resultado' %}
    </div>
</div>
{% endblock %}
