{% extends 'portfolio/layout.html' %} {% block main %}
    {% load static %}
<h2 class="centerTitles">Projetos</h2>
<div class="btnprojetos">
  {% if user.is_authenticated %}
      <a href="{% url 'portfolio:formprojetos' %}"><button class="btn">Adicionar Projeto</button></a>
      <a href="{% url 'portfolio:formpessoa' %}"><button class="btn">Adicionar Pessoa</button></a>
  {% endif %}
</div>
<div class="projetos">
  {% for projeto in projetos %}
      {% if projeto.left == True %}
          <div class="separadoresEsquerda">
              <div class="imgprojeto">
                  <img src="{{ projeto.imagem.url }}"/>
              </div>
              <div class="textCompetencias">
                  <h3>{{ projeto.titulo }} - {{ projeto.cadeira }}</h3>
                  <p>{{ projeto.descricao }}</p>
                  <p>Realizado no {{ projeto.ano }}º ano</p>
                  <p><b>Colega grupo:</b> {{ projeto.participante }} <a href={{ projeto.participante.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ projeto.participante.outroLink }} target="_blank"
        ><i class="fa-solid fa-heading button1"></i></a></p>
                  <p><b>Tecnologia utilizada:</b> {{ projeto.tecnologia }}</p>
                  <p><b>Competência obtida:</b> {{ projeto.competencia }}</p>
                  {% if not projeto.video == '' %}
                  <a href="{{ projeto.video }}" target="_blank"
                  ><i class="fa-brands fa-youtube button1"></i></a>
                  {% endif %}
                  <a href="{{ projeto.linkGit }}" target="_blank"
                  ><i class="fa-brands fa-github button1"></i
                  ></a>
                  {% if request.user.is_authenticated %}
                      <a href="{% url 'portfolio:editarProjeto' projeto.id %}"><button class="btn">Editar</button></a>
                  {% endif %}
              </div>
          </div>
      {% elif projeto.right == True %}
          <div class="separadoresDireita">
              <div class="imgprojeto">
                  <img src="{{ projeto.imagem.url }}"/>
              </div>
              <div class="textCompetencias">
                  <h3>{{ projeto.titulo }} - {{ projeto.cadeira }}</h3>
                  <p>{{ projeto.descricao }}</p>
                  <p>Realizado no {{ projeto.ano }}º ano</p>
                  <p><b>Colega grupo:</b> {{ projeto.participante }} <a href={{ projeto.participante.linkedin }} target="_blank"
        ><i class="fa-brands fa-linkedin button1"></i
      ></a> <a href={{ projeto.participante.outroLink }} target="_blank"
        ><i class="fa-solid fa-heading button1"></i></a></p>
                  <p><b>Tecnologia utilizada:</b> {{ projeto.tecnologia }}</p>
                  <p><b>Competência obtida:</b> {{ projeto.competencia }}</p>
                  {% if not projeto.video == '' %}
                  <a href="{{ projeto.video }}" target="_blank"
                  ><i class="fa-brands fa-youtube button1"></i></a>
                  {% endif %}
                  <a href="{{ projeto.linkGit }}" target="_blank"
                  ><i class="fa-brands fa-github button1"></i
                  ></a>
                  {% if request.user.is_authenticated %}
                      <a href="{% url 'portfolio:editarProjeto' projeto.id %}"><button class="btn">Editar</button></a>
                  {% endif %}
              </div>
          </div>
      {% endif %}
  {% endfor %}
</div>
    <h2 class="centerTitles">Trabalhos Finais de Curso</h2>
    <p class="tfcclass">Ao clicar no link em baixo, irá ser redirecionado para uma página que contêm alguns trabalhos finais de cursos de anos anteriores, que considerei interessantes.</p>
    <p class="tfcclass"><a href="{% url 'portfolio:tfc' %}" class="link">Clique aqui</a></p>

{% endblock %}
