{% extends 'portfolio/layout.html' %} {% block main %}
    {% load static %}
<h3 class="centerTitles">Tecnologias Existentes</h3>
  <div class="paddingpagetecnologias">
    <h4>Front-End</h4>
    <p>
      O programador responsável pelo front-end é quem “dá vida” à interface
      gráfica entre o utilizador e o website, para que os utilizadores possam
      ver e interagir com o website. Exemplos:
    </p>
      <div class="containertecnologias">
          <div>
              <img src="{% static 'portfolio/images/html.png' %}" class="imgtec"/>
              <h4 style="padding-top: 10px">HTML - Hyper Text Markup Language</h4>
              <p>Criado em 1991 por Tim Berners-Lee</p>
              <p>É uma linguagem de marcação utilizada na construção de páginas na Web. Documentos HTML podem ser interpretados por navegadores.</p>
          </div>
          <div>
              <img src="{% static 'portfolio/images/css.jpg' %}" class="imgtec"/>
              <h4 style="padding-top: 10px">CSS - Cascading Style Sheets</h4>
              <p>Criado em 1996 por Hakon Lie</p>
              <p>É um mecanismo para adicionar estilo a um documento web. O código CSS pode ser aplicado diretamente nas tags ou ficar contido dentro das tags style.</p>
          </div>
          <div>
              <img src="{% static 'portfolio/images/js.png' %}" class="imgtec"/>
              <h4 style="padding-top: 10px">HTML - Hyper Text Markup Language</h4>
              <p>Criado em 1991 por Tim Berners-Lee</p>
              <p>É uma linguagem de marcação utilizada na construção de páginas na Web. Documentos HTML podem ser interpretados por navegadores.</p>
          </div>
      </div>
  </div>
  <div class="paddingpagetecnologias">
    <h4>Back-End</h4>
    <p>
      Como o nome sugere, o desenvolvedor back-end trabalha na parte de “trás”
      da aplicação. É o responsável, em termos gerais, pela implementação das
      regras de negócio e não toca na parte visual da aplicação. Exemplos:
    </p>
      <div class="containertecnologias">
          <div>
              <img src="{% static 'portfolio/images/java.jpg' %}" class="imgtec"/>
              <h4 style="padding-top: 10px">Java</h4>
              <p>Criado em 1995 numa equipa chefiada por James Gosling</p>
              <p>Java é uma linguagem de programação orientada a objetos desenvolvida na década de 90 por uma equipe de programadores chefiada por James Gosling.</p>
          </div>
          <div>
              <img src="{% static 'portfolio/images/py.png' %}" class="imgtec"/>
              <h4 style="padding-top: 10px">Python</h4>
              <p>Criado em 1989 numa equipa chefiada por Guido Van Rossum</p>
              <p>Python é uma linguagem de programação de alto nível, interpretada de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte.</p>
          </div>
          <div>
              <img src="{% static 'portfolio/images/c.png' %}" class="imgtec"/>
              <h4 style="padding-top: 10px">C Sharp (C#)</h4>
              <p>Criado em 2000 pela Microsoft</p>
              <p>C# é uma linguagem de programação, multiparadigma, de tipagem forte, desenvolvida pela Microsoft como parte da plataforma .NET.</p>
          </div>
      </div>
  </div>
{% endblock %}
